<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    {{!-- <h1>Reviews</h1> --}}
    <a href="/events/new">New Event</a>
    <h1>Events</h1>
    {{#each events}}
      <h2>{{this.title}}</h2>
      <img class="img-fluid" src="{{this.imgUrl}}" alt="Image here">
      <p>{{this.description}}</p>
      <a href="/events/{{this.id}}" class="btn btn-primary">View Event</a>
      <a href="/events/{{this.id}}/rsvps/new" class="btn btn-info">Rsvp</a>
    {{/each}}
  </div>
</div>